<phpunit bootstrap="tests/Paydemic/bootstrap.php">
    <testsuites>
        <testsuite>
            <directory suffix="Test.php">tests/Paydemic</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="build/coverage"/>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
        <log type="junit" target="build/logs/junit.xml" logIncompleteSkipped="false"/>
    </logging>

    <filter>
        <whitelist>
            <directory suffix=".php">src/Paydemic</directory>
        </whitelist>
    </filter>
</phpunit>
